.navbar{
    background: rgb(37, 0, 0);
}
body{
    background: rgb(37, 0, 0);
}
.nav-item.active{
    background: #666b71;
    border-radius: 5px;
}
.nav-item:hover{
    background: #a3abb5;
    border-radius: 5px;
    transition: .8s;
}
.error-message{
    color: rgb(109, 3, 3);
}
#message{
            word-wrap: break-word;
            word-break: break-word;
        }